{% extends "app/base.html" %}

{% block content %}

{% load thumbnail %}
<!--POST start-->
<div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10">
        <h2 class="page-header">Post</h2>
          <section class="comment-list">
            <!-- First Comment -->


            {% for post in discount_ordered_list %}
              <p>{{post.id}}</p>
              <p>{{post.fname}}</p>
              <p>{{post.fcontent}}</p>
              <p >start_time : {{ post.regdate }}</p>
              <p >{{post.price}}</p>
              <p>star : {{post.star}}</p>
              <p style= "font-size:40">discount percent : {{post.percent}} %</p>

              <hr>
            {% endfor %}
          </section>
      </div>
    </div>

  </div>

  <!--POST end-->
    
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <h2 class="page-header">Comments</h2>
            <section class="comment-list">
              <!-- First Comment -->
              {% for reply in reply_list %}
              <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                  <figure class="thumbnail">
                    {% for corporation in corporation_list %}
                        {% if corporation.usr == reply.usr %}
                            {% if corporation.corp_logo %}
                                <img class="img-responsive" src="{{corporation.corp_logo.url}}" />
                            {% else %}
                                <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <figcaption class="text-center">{{reply.usr}}</figcaption>
                  </figure>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="panel panel-default arrow left">
                    <div class="panel-body">
                      <header class="text-left">
                        <div class="comment-user"><i class="fa fa-user"></i><p>{{reply.usr}}</p></div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                      </header>
                      <div class="comment-post">
                        <p>
                          {{reply.message}}
                        </p>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-md-5 col-sm-6 star-post" align="center">
                        <span style="font-size:20px">User Grading</span>
                        <br>
                        <p>

                            {{ reply.star }}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                        </div>
                        <div class="col-md-7 col-sm-7 image-post">
                        <div class="col-md-6 col-sm-6 before-image-post" align="center">
                        <span style="font-size:20px">Before Eat</span>
                        <br>
                        <p>
                            {% thumbnail reply.before_picture "150x150" crop="center" as thumb %}
                                <img src="{{ thumb.url }}">
                            {% endthumbnail %}
                        </p>
                        </div>
                        <div class="col-md-6 col-sm-6 after-image-post" align="center">
                        <span style="font-size:20px">After Eat</span>
                        <br>
                        <p>
                            {% thumbnail reply.after_picture "150x150" crop="center" as thumb %}
                                <img src="{{ thumb.url }}">
                            {% endthumbnail %}
                        </p>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              {% endfor %}
            </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-8 col-md-3 col-sm-offset-8 col-sm-3">
          <div class = "button_wrap" align="center">
            <a href="{% url 'app:reply_new' %}" class="button"> Add Comments</a>
          </div>
        </div>
      </div>
    </div>
    <hr/>


    {% endblock %}
  