{%extends "base.html" %}
{%block title %}LeftOver Sharing{% endblock %}
{%block head %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAwrfz2MVZoTgp-8XvRRrdSyba3_gV_4VU"
     type="text/javascript"></script>
    <script type = "text/javascript">

     function geoCode() {
        var latitudexy = document.getElementsByName('corp_coordinates');
       	var faddr = document.getElementsByName('corp_location').value;
       	var geocoder;
       	geocoder = new google.maps.Geocoder();
       	geocoder.geocode( { 'address': faddr}, function(results, status) {
   	  	if (status == google.maps.GeocoderStatus.OK) {
   			  var faddr_lat = results[0].geometry.location.lat();	//위도
   			  var faddr_lng = results[0].geometry.location.lng();	//경도
   		   } else {
   			  var faddr_lat = "33.500179";
   			  var faddr_lng = "126.529933";
   		}

   		alert('address: ' + faddr + '\n\nlat : ' + faddr_lat + '\n\nlng : ' + faddr_lng);
      latitudexy[0].value = faddr_lat +","+faddr_lng;

   		return;
     	});
    }
    </script>
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
{% endblock %}
{%block content %}
  <div class="container">
          <div class="col-sm-12">
              <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-group">


                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 >Update Corporation Information</h2>
                        <br>

                        <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                          {{ form.as_p }}
                            <input type="button" onclick="geoCode()" value="Encode" id = "encoding_btn"></p>
                        </form>


                        <button type="submit" class="btn btn-primary btn-lg">Write Reply</button>
                    </div>

                </div>
              </form>
          </div>
      </div>

{% endblock %}
