

{%extends "base.html" %}

{%block title %}LeftOver Sharing{% endblock %}
{%block head %}

{% load staticfiles%}

<meta charset="utf-8">
<title>Bootswatch: Cerulean</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/custom.min.css' %}"



{% endblock %}


{%block content %}
<div class="container">
  <div class="col-sm-12">
      <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group">


            <div class="col-sm-10 col-sm-offset-1">
                <h2 >Write Reply</h2>
                <br>

                <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}

                  {{ form.as_p }}


                </form>
                <button type="submit" class="btn btn-primary btn-lg">Write Reply</button>
            </div>

        </div>
      </form>
  </div>
</div>

{% endblock %}

