{%extends "base.html" %}
{%block title %}LeftOver Sharing{% endblock %}
{%block head %}

    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
{% endblock %}
{%block content %}
  <div class="container">
          <div class="col-sm-12">
              <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                <div class="form-group">


                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 >Update Corporation Information</h2>
                        <br>

                        <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}

                          {{ form.as_p }}


                        </form>
                        <button type="submit" class="btn btn-primary btn-lg">Write Reply</button>
                    </div>

                </div>
              </form>
          </div>
      </div>

{% endblock %}
